# Make sure clams-python version is explicitly specified, at least the lower bound
clams-python==1.0.9
mmif-python[cv]==1.0.8
python-doctr[torch]==0.7.0
torch~=2.1.2
numpy~=1.24.4
Pillow==10.2.0
lapps~=0.0.2